#navbarSupportedContent{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Estilo para el contenedor principal */
.container {
  max-width: 800px; /* Ancho máximo del contenido */
  width: 100%; /* Ancho del contenido al 100% */
  padding: 20px; /* Espacio interno */
  box-sizing: border-box; /* Incluir el padding en el tamaño */
}

a.nav-link.active{
  font-weight: bold;
  background-color: #85858520;
}

  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .table-header h3 {
    margin: 0;
  }
  
  .mobile-th {
    display: none;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-container {
    width: 300px;
    margin-bottom: 20px;
    float: left;
  }
  
  #searchInput {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  table thead {
    background: #8984bf;
  }
  
  .btn-disabled {
    cursor: not-allowed !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    opacity: 0.5;
  }
  
  .pagination-container {
    float: right;
  }
  
  @media only screen and (max-width: 600px) {
    thead {
      display: none;
    }
    .mobile-th {
      display: block;
    }
    tr {
      display: grid;
      margin: 20px 0;
      border: 1px solid #302b63 !important;
    }
  }
  
  /* ... (Tu estilo actual) ... */
  


/* Estilo para el input de traducción */

/* Centrar la página horizontal y verticalmente */
.space-repetition-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajustar la altura al 100% del viewport */
  flex-direction: column;
}

#translation-input {
  width: 100%; /* Ancho del input al 100% */
  min-width: 300px; /* Ancho mínimo bastante grande */
  margin-top: 10px; /* Espacio superior */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde */
  border-radius: 4px; /* Borde redondeado */
  box-sizing: border-box; /* Incluir borde en el tamaño */
}

#submit-button{
  width: 100%;
}

/* Estilo para los botones de retroalimentación */
#feedback-buttons {
  margin-top: 10px; /* Espacio superior */
  display: flex; /* Mostrar en línea */
  justify-content: space-between; /* Espaciado entre los botones */
}

#feedback-buttons .btn {
  width: 40%;
}

.shown {
  color: #ffc107; /* Cambiar a tu color deseado */
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  /* Ajustar estilos para pantallas pequeñas */
  #translation-input {
    min-width: 200px; /* Reducir el ancho mínimo en pantallas pequeñas */
  }
}